.box, .box1{
    display: flex;
    flex-wrap: wrap; 
    font-family: 'Quattrocento Sans', sans-serif;
} 
body{
    margin: 0;
    background-color: rgb(67, 83, 114);
} 
img{
    height: 18vh;
    width: 12vw;
    margin-left: 10%;
    border-radius: 100%;
}
header{
    display: flex;
}
header>h2{
    margin-top: 5%;
    margin-left: 12%;
}
.small-6{
    font-family:'Domine', serif;
    background-color: rgb(161, 161, 81);
    text-align: center;
    color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
}
h2,p,h3
{
    margin: 0%;
    padding: inherit;
}
   .small-7, .small-8, .small-9, .small-10{
    width: 100%;
    padding: 1%;
    background-image: linear-gradient(to right,rgb(252, 248, 248),white);
}
   .small-2, .small-3, .small-4, .small-5{
    background-color: rgb(27, 25, 25);
    color: whitesmoke;
    width: 100%;
    padding: 1%;
}
.footer{
    background-color: rgb(67, 83, 114);
    padding: 2%;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.footer header{
    margin-left: 30%;
}
.small-2 {
    order: 2;
}
.small-3 {
    order: 4;
}
.small-4 {
    order: 6;
}
.small-5 {
    order: 8;
} 
.small-7 {
    order: 3;
}
.small-8 {
    order: 5;
}
.small-9 {
    order: 7;
}
.small-10 {
    order: 9;
} 

 @media (min-width:600px){
    .box{
        display: flex;
        flex-wrap: wrap; 
        box-shadow: 5px 0px 10px 2px black; 
    } 
   .small-6{
       width: 100%;
       order:1;
   }
   .box1{
      width:  70%;
       order: 3;
       height: auto;
   }
   .footer{
       width: 30%;
       order: 2;
       height: auto;
       padding: 0%;
       background-color: rgb(27, 25, 25);
       color: whitesmoke;
   }
   .footer p {
    margin-top: 20%;
    margin-left: 15%;
   }
   .footer header{
       margin-left: 21%;
       margin-top: 30%;
       color: rgb(161, 161, 81);
   }
   .footer strong{
       color: rgb(161, 161, 81);
   }
   .small-2, .small-3, .small-4, .small-5{
       background-color: whitesmoke;
       color:rgb(161, 161, 81);
   }
     @media(min-width:1024px){
        .box{
            display: flex;
            flex-wrap: wrap;
            width: 1024px;
            margin: 0 auto;
        } 
        
    }
} 